{$wrapper_prefix_center|default}

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/jquery.min.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/tab.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/go_top.js"></script>

<!--中间：内容-->
<div class="container_content" >
    <!--我的账户-->
    <div class="top" style="min-height:630px">
        <div class="one">
            <div class="blue-line"></div>
            <span class="title">银行卡</span>
        </div>
        <div class="bank_change">
            <div class="uploadImg">
                <div class="add" onclick="show('light')">
                </div>
            </div>
            <p style="width:600px">为了您的账户安全，我们只允许绑定一张银行卡。所以在本息未归还之前，请不要注销相关卡片。
                如有紧急需要，请致电客服：400-1369-998</p>
        </div>
    </div>
</div>
</div>

<!--回到顶部开始-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>
<!--回到顶部结束-->

<!--弹窗-->
<div id="light" class="white_content">
    <div class="one">
        <div class="blue-line"></div>
        <h2>银行卡</h2>
    </div>
    <div class="con"> 
        <div class="bank">
            <div class="img_bank">
                <span style="border: 1px solid rgb(33, 151, 215); height: 44px; width: 148px;">
                    <img src="/static/ywf/img/bank/gs.png">
                    <em>每单限额5万,日限额50万</em>
                    <i></i></span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/js.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/ny.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/ny.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/zg.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/gd.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/ms.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/ms.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/gf.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/pf.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/pa.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/pa.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/dy.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/yz.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/nj.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/nj.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/bh.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
                <span style="border: 0px none; height: 46px; width: 150px;">
                    <img src="/static/ywf/img/bank/cd.png">
                    <em>每单限额5万,日限额50万</em>
                </span>
            </div>
            <div class="qd_cancel">
                <button  onclick="hide('light')">确定</button>
                <button  onclick="hide('light')">取消</button>
            </div>
        </div>
    </div>
</div>
<!--覆盖层-->
<div id="fade" class="black_overlay"></div>

<script type="text/javascript">
    $(function () {
        var iHtml = "<i></i>";
        $('.bank').delegate('span', 'click', function (event) {
            $(this).append(iHtml).siblings('span').children('i').remove();
            $(this).css({
                border: '1px solid #2197d7',
                height: 44,
                width: 148
            }).siblings('span').css({
                border: 0,
                height: 46,
                width: 150
            });
            ;
        });
    });
</script>


{$wrapper_suffix_front|default}