{$wrapper_prefix_center|default}


<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/tab.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/go_top.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/alert.js"></script>
<!-- 弹框 js-->
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/webjs/cas/myAlert.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/scripts/upload/uploadPreview.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/webjs/cas/uppic.js"></script>

<script>$("head>title").html("经纪人条款");</script>
<!--中间：内容-->
<div class="container_content">
    <!--我的账户-->
    <div class="top">
        <div class="one">
            <div class="blue-line"></div>
            <h2>经纪人条款</h2>
        </div>
    </div>
    <div class="bottom">
      {$ecoman_agreement}
    </div>  
</div>
</div>
<!--回到顶部开始-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>
<!--回到顶部结束-->

{$wrapper_suffix_center|default}