{$wrapper_prefix_center|default}
<script src="{$_STATIC_URL}/ywf/webjs/cas/setting.recommender.js" type="text/javascript"></script>

<script>$("head>title").html("修改推荐人");</script>
<!--中间：内容-->
<div class="container_content" >
    <!--我的账户-->
    <div class="top" style="min-height:630px">
        <div class="one">
            <div class="blue-line"></div>
            <span class="title">修改推荐人</span>
        </div>
        <div class="two_xgdlmm">
            <div id="div1">
                <label>推荐人：</label>
                <input type="text" value="" name="recommender" placeholder="推荐人的手机号或邀请码" id="zhjymm_input1"/>
            </div>
            <div class="btn">
                <button id="form-submit" style="margin-left:1px">确认</button>
            </div>
        </div>
    </div>
</div>
</div>

{$wrapper_suffix_center|default}