{$wrapper_prefix_center|default}

<script>$("head>title").html("登录");</script>
<!--中间：内容-->
<div class="container_content" >
    <!--我的账户-->
    <div class="top" style="min-height:472px">
        <div class="one">
            <div class="blue-line"></div>
            <span class="title">邀请好友加入</span>
        </div>
        <div class="two_inviteFriends">
            <div class="img_ewm"></div>
            <div class="text">
                <p>推荐须知：</p>
                <p>请扫描二维码注册下载亿万福APP邀请好友</p>
            </div>
        </div>
        <span style="color:#808080;margin-left:48px;display: inline-block;margin-top:26px;font-size:18px">你的推荐码:v2527ss</span>
    </div>
</div>
</div>

{$wrapper_suffix_center|default}