{$wrapper_prefix_front|default}

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/gotop.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/product_detail.js"></script>
<!--分页插件-->
<link type="text/css" rel="stylesheet" href="{$_STATIC_CDN}/scripts/jquery-pagination/jquery.pagination.css"/>
<script type="text/javascript" src="{$_STATIC_CDN}/scripts/jquery-pagination/jquery.pagination-1.2.7.min.js"></script>
<link type="text/css" rel="stylesheet" href="{$_STATIC_CDN}/scripts/jquery-pagination/jquery.pagination.css"/>
<!-- 弹框 js-->
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/webjs/cas/myAlert.js"></script>

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/webjs/goods/p2p.detail.js"></script>

{literal}
<script>
    $(document).ready(function () {
        var borrow_name = $('.borrow_name').attr('borrow_name');
        $("head>title").html(borrow_name);

    });
</script>
<style>
    .product_third p {margin-bottom: 5px; line-height: 25px; letter-spacing: 2px;}
</style>
{/literal}

<div class="product_detail_content">
    <div class="product_first">
        <div class="product_first_l fl">
            <h2 class="borrow_name" borrow_name="{$borrow.borrow_name}">
                {$borrow.borrow_name}
            </h2>
            <ul>
                <li>
                    <div class="title title1">
                        <span  class="shuzi">{$borrow.yield_rate}</span>
                        <span>%</span>
                    </div>
                    <p>预期年化收益</p>
                </li>
                <li class="sep">
                    <div class="title title2">
                        <span class="shuzi">{$borrow.borrow_time_limit}</span>
                        <span>天</span>
                    </div>
                    <p>期限</p>
                </li>
                <li>
                    <div class="title title3">
                        <span class="shuzi">{$borrow.low_pay}</span><span>元</span>
                    </div>
                    <p>起投金额</p>
                </li>
            </ul>
            <div class="product_text1">
                <div class="product_tex" style="width: 321px;">
                    <span>起息日期：</span>
                    {if $borrow.interest_type == 1}
                    <p>N+1（满标次日计息）</p>
                    {else}
                    <p>T+1（满标次工作日计息）</p>
                    {/if}
                </div>
                <div class="product_tex" style="width: 321px;">
                    <span>发布日期：</span>
                    <p>{$borrow.show_time}</p>
                </div>
                <div class="product_tex" style="width: 321px;">
                        <span>兑付方式：</span>
                        {if ({$borrow['interest_rate']} == 1)}
                        <p>到期还本付息</p>
                        {elseif ({$borrow['interest_rate']} == 2)}
                        <p>分期付息，到期还本</p>
                        {else}
                        <p>等额本息</p>
                        {/if}
                    </div>
                <div class="product_tex" style="width: 321px;">
                    <span>募集时间：</span>
                    {if ({$borrow.raise_time} == 0) || ({$borrow.borrow_status} == 6)}
                    <p>—— ——</p>
                    {else}
                    <p id="timer"></p>
                    {/if}                    
                </div>               
            </div>
        </div>
        <div class="product_first_r fr">
            <h2>
                投资金额
                <span>剩余可投：<strong>{$borrow.remainder_money}元</strong></span>
            </h2>

            <div class="product_first_down">
                <div class="pro_bar">
                    <span class="progress"></span>
                    <em class="progress_num">{$borrow.progress_bar}%</em>
                </div>

                <div class="product_inputs">
                    <a href="javascript:;" class="reduce_btn"></a>
                    <input type="text" class="text_box" id="buy_money" value="{$borrow.low_pay}">
                    <span style="right: 500px;">元</span>
                    <a href="javascript:;" class="plus_btn"></a>	  	  
                </div> 
                <p>预期到期收益：<strong id="yq"></strong></p>
                <div class="txt">
                    <span class="fl">起投金额：<em>{$borrow.low_pay}元</em></span>
                    <span class="fr">递增金额：<em>{$borrow.increasing_amount}元</em></span>
                </div> 
                {if ({$borrow['borrow_status']} == 1)}
                <a href="javascript:;" class="product_btn">立即投资</a>
                {elseif ({$borrow['borrow_status']} == 2)}
                <a href="javascript:;" class="product_btn" style="background:#cccccc">已满标</a>
                {elseif ({$borrow['borrow_status']} == 3)}
                <a href="javascript:;" class="product_btn" style="background:#cccccc">还款中</a>
                {elseif ({$borrow['borrow_status']} == 4)}
                <a href="javascript:;" class="product_btn" style="background:#cccccc">已兑付</a>
                {elseif ({$borrow['borrow_status']} == 5)}
                <a href="javascript:;" class="product_btn" style="background:#cccccc">已流标</a>
                {elseif ({$borrow['borrow_status']} == 6)}
                <a href="javascript:;" class="product_btn" style="background:#cccccc">即将开放</a>
                {/if}

            </div>
        </div>
    </div>
    <ul class="product_second">
        <li id="detail" class="current">
            产品详情
            <span></span>
        </li>
        <li id="safe">
            借款方详情
            <span></span>
        </li>
        <li id="record">
            投资记录
            <span></span>
            <i style="font-size: 14px;">(<em style="color: #ff7003;">{$borrow['buy_num']}</em>)</i>
        </li>
        <li id="question">
            常见问题
            <span></span>
        </li>
    </ul>
    <div class="product_third " id="product_third1">
        {if $info.borrow_detail}
        {$info['borrow_detail']}
        {else}
        <img src="/static/ywf/img/pic/zanwu.png" style="display: block;margin: 50px auto;width:30%;">
        {/if}
    </div>
    <div class="product_third " id="product_third2" style="display:none;">
        {if $info.debtor_name}
        {$info['borrow_safety']}
        {else}
        <img src="/static/ywf/img/pic/zanwu.png" style="display: block;margin: 50px auto;width:30%;">
        {/if}
    </div>
    <div class="product_third product_third3 " id="product_third3" style="display:none;">
        <div class="low"> 
            <div class="three three_ytab" id="three">
                <table class="" id=""  style="white-space: nowrap;" >
                    <thead>
                        <tr>
                            <th>会员</th>
                            <th>投资金额</th>
                            <th>投资日期</th>
                            <th>投资状态</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>

        </div>           
    </div>
    <div class="product_third " id="product_third4" style="display:none;">
        <p>1、产品预期收益率：是指平台预期的在产品存续期内对投资本金计算理财收益时适用的收益率，以年收益率表示，该收益率仅为预期的收益率，并非平台向客户保证或者承诺支付的收益率。 </p>
        <p>2、产品收益：是指根据双方约定及实际投资收益情况而最终确定的客户实际投资收益；平台并不能确保客户最终收益的有无及多少，该收益亦有可能低于按照产品预期收益率计算所得的产品预期收益；客户最终的实际收益将依照理财产品到期时的实际市场情况及双方的约定确定。 </p>
        <p>3、产品收益起算日：是指根据《产品说明书》中约定的计算产品收益的起始日期。 </p>
        <p>4、产品到期日：是指根本《产品说明书》中约定的产品到期日，如平台行使提前终止权提前终止产品的，该提前终止日也将被视为到期日；如产品被展期的，到期日则指展期后的产品到期日或平台提前终止日。 </p>
        <p>5、产品存续期：是指根据产品收益起算日至产品到期日之间的期间。</p>
        <p>6、支付日：是指根据《产品说明书》的约定平台应当向客户支付产品资金即投资本金（若有）或收益（若有）之日。若支付日为相关货币非银行工作日，则顺延至非银行工作日结束后的第一个银行营业日支付《产品说明书》，另有约定除外。资金到账时间在支付日24点前，不保证在支付日银行日间营业时间内资金到账。</p>
        <p>7、募集期：是指《产品说明书》中约定的平台发行产品的期间，即产品销售起始日至终止日（不包括产品收益日算日）。客户理财交易卡中用于认购产品的投资本金在募集期内以及募集期结束至产品收益起算日前将被冻结，不计付利息，除《产品说明书》另有约定外，客户不得提前支取。</p>
        <p>案例：P2P产品4月10日开始募集，满标时间4月12日产品周期为180天。</p>
        <p>投资人：收益计息日期起始日期为4月13日(若4月13日为非工作日则顺延至工作日)，5月31号获得第一笔收益计息时间为4月13日至5月31日共计48天利息；第二笔收益计息时间为6月1日至6月30日共计30天利息；以此类推，10月10日计息结束，10月11日最后一期利息及本金需到账投资者账户。</p>
        <p> 计息规则实例：满标时间以2018/4/12为例。</p>
    </div>

    <div class="page_count"></div>
    <div id="paging" class="m-pagination"></div>
</div>	

<input type="hidden" value="{$borrow.borrow_id}" id="borrowID" />
<input type="hidden" value="{$borrow.low_pay}" id="lowPay" />
<input type="hidden" value="{$borrow.increasing_amount}" id="increasingAmount" />
<input type="hidden" value="{$borrow.remainder_money}" id="remainderMoney" />
<input type="hidden" value="{$borrow.yield_rate}" id="yieldRate"/>
<input type="hidden" value="{$borrow.borrow_time_limit}" id="qx"/>
<input type="hidden" value="{$borrow.borrow_status}" id="borrowStatus" />
<input type="hidden" value="{$borrow.raise_time}" id="raiseTime" />

<!--侧边导航-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>
{$wrapper_suffix_front|default}