{$wrapper_prefix_front|default}

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/tab.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/go_top.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/alert.js"></script>

<script>$("head>title").html("安全保障");</script>

<!--安全保障栏目开始-->
<div class="security-list color1">
    <h4>多重服务&nbsp;&nbsp; 安全保障</h4>
    <img src="/static/ywf/img/icon/securitylist1.png" alt="">
</div>
<div class="security-list color2">
    <img src="/static/ywf/img/icon/securitylist2.png" alt="">
    <h4>保障一 &nbsp;&nbsp; 出身名门</h4>
    <p>依托中金国泰控股集团公司雄厚资金实力——注册资本金30亿元，年交易规模过千亿。</p>
</div>
<div class="security-list color3">
    <img src="/static/ywf/img/icon/securitylist3.png" alt="">
    <h4>保障二&nbsp;&nbsp;　产品过硬</h4>
    <p>整合精选央企、国企、行业龙头企业优质融资项目资源。</p>
</div>
<div class="security-list color4">
    <img src="/static/ywf/img/icon/securitylist4.png" alt="">
    <h4>保障三 &nbsp;&nbsp; 严控风险</h4>
    <h3>依法合规，杜绝资金池、虚假标的、自融自保，信息透明。</h3>
    <p>建立“336”项目投融资和产品筛选与风控体系，全程把控项目和产品实质性风险</p>
</div>

<!--回到顶部开始-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>

{$wrapper_suffix_front|default}