{$wrapper_prefix_front|default}

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/tab.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/go_top.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/alert.js"></script>

<script>$("head>title").html("新手指南");</script>

<!--新手指引banner-->
<div class="novice-banner">
    <h3>轻松五步完成理财</h3>
    <ul class="novice-banner-cont navW">
       <li class="r">
           <img src="/static/ywf/img/icon/novice1.png" alt="">
           <p>轻松注册</p>
       </li>
        <li class="r">
            <img src="/static/ywf/img/icon/novice2.png" alt="">
            <p>绑卡</p>
        </li>
        <li class="r">
            <img src="/static/ywf/img/icon/novice3.png" alt="">
            <p>转入</p>
        </li>
        <li class="r">
            <img src="/static/ywf/img/icon/novice4.png" alt="">
            <p>产生收益</p>
        </li>
        <li>
            <img src="/static/ywf/img/icon/novice5.png" alt="">
            <p>提现</p>
        </li>
    </ul>
</div>
<!--新手指引banner 结束-->
<!--新手指引栏目-->
<div class="novice-list white">
    <div class="navW">
        <div class="novice-list-l">
            <h3>STEP1</h3>
            <p>扫描二维码，下载亿万福APP，下载成功后注册亿万福 账号。</p>
            <img class="erwm" src="/static/ywf/img/icon/noviceerwm.png" alt="">
        </div>
        <div class="novice-list-r">
            <img src="/static/ywf/img/icon/novicelist1.png" alt="">
        </div>
    </div>
</div>
<div class="novice-list gray">
    <div class="navW">
        <div class="novice-list-l">
            <img src="/static/ywf/img/icon/novicelist2.png" alt="">
        </div>
        <div class="novice-list-r text">
            <h3>STEP2</h3>
            <p>进入“银行卡”设置“绑定银行卡"进行身份验证，添加 银行卡等信息。</p>
        </div>
    </div>
</div>
<div class="novice-list white">
    <div class="navW">
        <div class="novice-list-l">
            <h3>STEP3</h3>
            <p>进入“账户余额”页面，点击“充值”按钮填写您需要转入的金额，输入密码，完成投资。</p>
        </div>
        <div class="novice-list-r">
            <img src="/static/ywf/img/icon/novicelist3.png" alt="">
        </div>
    </div>
</div>
<div class="novice-list gray">
    <div class="navW">
        <div class="novice-list-l">
            <img src="/static/ywf/img/icon/novicelist4.png" alt="">
        </div>
        <div class="novice-list-r text">
            <h3>STEP4</h3>
            <p>进入“收益记录”页面，可以查看收益情况和账户余额。</p>
        </div>
    </div>
</div>
<div class="novice-list white">
    <div class="navW">
        <div class="novice-list-l">
            <h3>STEP5</h3>
            <p>进入“账户余额”界面，点击“提现”，完成提现转出。</p>
        </div>
        <div class="novice-list-r">
            <img src="/static/ywf/img/icon/novicelist5.png" alt="">
        </div>
    </div>
</div>

<!--回到顶部开始-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>

{$wrapper_suffix_front|default}