<!-- 尾部结构开始 -->
<div class="foot_bg">
    <div class="foot">
        <div class="foot_content">
            <div class="foot_list">
                <h2>关于亿万福</h2>
                <ul>
                    <li><a href="/page/index/index?tag=1">亿万福介绍</a></li>
                    <li><a href="/page/index/index?tag=2">公司介绍</a></li>
                    <li><a href="/page/media/index">媒体报道</a></li>
                    <li><a href="/page/platform/index">平台公告</a></li>
                    <li><a href="/page/index/index?tag=9">联系我们</a></li>
                </ul>
            </div> 
            <div class="foot_list">
                <h2>帮助中心</h2>
                <ul>
                    <li><a href="/page/help/index?tag=1">新手必读</a></li>
                    <li><a href="/page/help/index?tag=2">注册绑卡</a></li>
                    <li><a href="/page/help/index?tag=3">投资操作</a></li>
                    <li><a href="/page/help/index?tag=4">产品转让</a></li>
                    <li><a href="/page/help/index?tag=5">收益保障</a></li>
                </ul>
            </div> 
            <div class="foot_list foot_list3">
                <h2>安全保障</h2>
                <ul>
                    <li><a href="/page/index/index?tag=3">投资安全</a></li>
                    <li><a href="/page/index/index?tag=3">资金安全</a></li>
                    <li><a href="/page/index/index?tag=3">技术安全</a></li>
                    <li><a href="/page/index/index?tag=3">合法合规</a></li>
                </ul>
            </div>
            <div class="line">		    	
            </div>   
            <div class="foot_list foot_weixin">
                <img src="{$_STATIC_CDN}/ywf/img/icon/webchart.jpg" alt="">
                <p>微信扫一扫</p>
            </div>
            <div class=" foot_list foot_app">
                <img src="{$_STATIC_CDN}/ywf/img/icon/app.jpg" alt="">
                <p>手机端下载</p>
            </div>
            <div class="line line2">		    	
            </div>  
            <div class="foot_list foot_last">
                <h2>全国服务热线</h2>
                <p>400-1369-998</p>
                <span>工作日  9:00-23:00</span>
                <span>节假日 10:00-17:00</span>
            </div>
        </div>
        <div class="bottom_bg">
            <div class="bottom">
                <p>© 2015-2016 亿万福 | 沪ICP备14036998号-2 | 中金国泰财富管理有限公司</p>
            </div>
        </div>
    </div> 
</div>
<!-- 尾部结构结束  -->

</body>
</html>
