{$wrapper_prefix_front|default}

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/gotop.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/product_detail.js"></script>
<!--分页插件-->
<link type="text/css" rel="stylesheet" href="{$_STATIC_CDN}/scripts/jquery-pagination/jquery.pagination.css"/>
<script type="text/javascript" src="{$_STATIC_CDN}/scripts/jquery-pagination/jquery.pagination-1.2.7.min.js"></script>
<link type="text/css" rel="stylesheet" href="{$_STATIC_CDN}/scripts/jquery-pagination/jquery.pagination.css"/>
<!-- 弹框 js-->
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/webjs/cas/myAlert.js"></script>

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/webjs/goods/goods.detail.js"></script>
{literal}
<script>
    $(document).ready(function () {
        var goods_name = $('.goods_name').attr('goods_name');
        $("head>title").html(goods_name);

    });
</script>
{/literal}

<div class="product_detail_content">
    <div class="product_first">
        <div class="product_first_l fl">
            <h2 class="goods_name" goods_name="{$goods.goods_name}">
                {$goods.goods_name}
                <span>{$goods.comment}</span>
            </h2>
            <ul>
                <li>
                    <div class="title title1">
                        <span  class="shuzi">{$goods.yield}</span>
                        <span>%</span>
                    </div>
                    <p>预期年化收益</p>
                </li>
                <li class="sep">
                    <div class="title title2">
                        <span class="shuzi">{if $goods.order_id}{$goods.distance_days}{else}{$goods.financial_period}{/if}</span>
                        <span>天</span>
                    </div>
                    <p>期限</p>
                </li>
                <li>
                    <div class="title title3">
                        <span class="shuzi">{if $goods.order_id}{$goods.buy_money}{else}{$goods.low_pay}{/if}</span><span>元</span>
                    </div>
                    <p>{if $goods.order_id}订单金额{else}起投金额{/if}</p>
                </li>
            </ul>
            <div class="product_text1">
                <div class="product_tex">
                    <span>起息日期：</span>
                    <p>{$goods.start_time}</p>
                </div>
                <div class="product_tex">
                    <span>结息日期：</span>
                    <p>{$goods.end_time}</p>
                </div>
                <div class="product_tex">
                    <span>兑付日期：</span>
                    <p>{$goods.deal_date}</p>
                </div>
                <div class="product_tex">
                    <span>定价转让：</span>
                    <p>{if $goods.order_id}{$goods.distance_order_show}{else}{$goods.transfer_show}{/if}</p>

                </div>
                <div class="product_tex">
                    <span>兑付方式：</span>
                    <p>{$goods.deal_way}</p>
                </div>
            </div>
        </div>
        <div class="product_first_r fr">
            {if $goods.order_id}
            <h2>
                转让产品
                <span></strong></span>
            </h2>
            {else}
            <h2>
                投资金额
                {if ({$goods['goods_pattern']} != 4 && {$goods['goods_pattern']} != 1)}
                <span>剩余可投：<strong>{$goods['spare_fee']}元</strong></span>
                {/if}
            </h2>
            {/if}

            <div class="product_first_down">
                {if $goods.order_id}
                {else}
                 {if ({$goods['goods_pattern']} != 4)}
                <div class="pro_bar">
                    <span class="progress"></span>
                    <em class="progress_num">{$goods.schedule}%</em>
                </div>
                 {/if}
                {/if}
                <div class="product_inputs">
                    <a href="javascript:;" class="reduce_btn"></a>
                    <input type="text" class="text_box" id="buy_money" value="{if $goods.order_id}{$goods.buy_money}{else}{$goods.low_pay}{/if}">
                    <span>元</span>
                    <a href="javascript:;" class="plus_btn"></a>	  	  
                </div> 
                <p>预期到期收益：<strong id="yq"></strong></p>
                <div class="txt">
                    {if ({$goods['goods_pattern']} != 4)}
                    <span class="fl">起投金额：<em>{$goods.low_pay}元</em></span>
                    <span class="fr">递增金额：<em>{$goods.increasing_pay}元</em></span>
                    {else}
                    <span class="fl">您有体验金：<strong>{if {$goods.voucher_money}==-1}未登录{else}{$goods.voucher_money}元{/if}</strong></span>
                    {/if}
                </div> 
                {if ({$goods['goods_status']} == 1)}
                <a href="javascript:;" class="product_btn">{if $goods.order_id}立即投资( 转让价{$goods.transfer_price_show}元 ){else}立即投资{/if}</a>
                {elseif ({$goods['goods_status']} == 2)}
                <a href="javascript:;" class="product_btn" style="background:#cccccc">已售罄</a>
                {elseif ({$goods['goods_status']} == 3)}
                <a href="javascript:;" class="product_btn" style="background:#cccccc">已下架</a>
                {/if}

            </div>
        </div>
    </div>
    <ul class="product_second">
        <li id="detail" class="current">
            产品详情
            <span></span>
        </li>
        <li id="safe">
            安全保障
            <span></span>
        </li>
        <li id="record">
            投资记录
            <span></span>
            <i style="font-size: 14px;">(<em style="color: #ff7003;">{$goods['buy_num']}</em>)</i>
        </li>
    </ul>
    <div class="product_third " id="product_third1">
        {if $goods.goods_detail}
        {$goods['goods_detail']}
        {else}
        <img src="/static/ywf/img/pic/zanwu.png" style="display: block;margin: 50px auto;width:30%;">
        {/if}
    </div>
    <div class="product_third " id="product_third2" style="display:none;">
        {if $goods.safety}
        {$goods['safety']}
        {else}
        <img src="/static/ywf/img/pic/zanwu.png" style="display: block;margin: 50px auto;width:30%;">
        {/if}
    </div>
    <div class="product_third product_third3 " id="product_third3" style="display:none;">
        <div class="low"> 
            <div class="three three_ytab" id="three">
                <table class="" id=""  style="white-space: nowrap;" >
                    <thead>
                        <tr>
                            <th>会员</th>
                            <th>投资金额</th>
                            <th>投资日期</th>
                            <th>投资状态</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>

        </div> 
    </div>

    <div class="page_count"></div>
    <div id="paging" class="m-pagination"></div>
</div>	
<input type="hidden" value="{$goods.financial_period}" id="qx"/>
<input type="hidden" value="{$goods.yield}" id="yield"/>
<input type="hidden" value="{$goods.goods_id}" id="g" />
<input type="hidden" value="{$goods.goods_pattern}" id="goods_pattern" />
<input type="hidden" value="{$goods['increasing_pay']}" id="increasing_pay" />  
<input type="hidden" value="{$goods['low_pay']}" id="low_pay"/>
<input type="hidden" value="{$goods['high_pay']}" id="high_pay"/>
<input type="hidden" value="{$goods['order_id']}" id="order_id"/>
<input type="hidden" value="{$goods['buy_money']}" id="buy_money_order"/>
<input type="hidden" value="{$goods.distance_days}" id="qx_order"/> 
<input type="hidden" value="{$goods.voucher_money}" id="voucher_money"/>                 
<input type="hidden" value="{$goods['goods_status']}" id="goods_status" />

<!--侧边导航-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>
{$wrapper_suffix_front|default}