{$wrapper_prefix_front|default}

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/tab.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/go_top.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/alert.js"></script>

<script>$("head>title").html("安全保障");</script>

<!--安全保障栏目开始-->
<style>
.colorx
{
    background: radial-gradient(ellipse at center, #1b73d7 0%,#73bcf3 100%);
    padding: 50px 0;
}
.colorx *{
    color:#fff !important;
}
.colorx a{
    display:block;
    width:600px;
    margin:0 auto;
    text-align:center;
}

.colorx a h4{
    font-size:36px;
}
.colorx img {
    width: 180px;
    filter: drop-shadow(3px 3px 9px rgba(0,0,0,0.2));
    margin:1em auto;
}
.colorx span{
    display: block;
    text-align: center;
}
</style>
<div class="security-list colorx">
    <a href=""><h4>亿万福：2018年8月信息披露</h4>
    <img src="/static/ywf/img/icon/pdf.png" alt="" id="exifviewer-img-1" exifid="617225459" oldsrc="http://www.ywf360.com/static/ywf/img/icon/securitylist1.png">
    <span>点击查看</span></a>
</div>
<div class="security-list color1">
    <h4>多重服务&nbsp;&nbsp; 安全保障</h4>
    <img src="/static/ywf/img/icon/securitylist1.png" alt="">
</div>
<div class="security-list color2">
    <img src="/static/ywf/img/icon/securitylist2.png" alt="">
    <h4>保障一 &nbsp;&nbsp; 出身名门</h4>
    <p>依托中金国泰控股集团公司雄厚资金实力——注册资本金30亿元，年交易规模过千亿。</p>
</div>
<div class="security-list color3">
    <img src="/static/ywf/img/icon/securitylist3.png" alt="">
    <h4>保障二&nbsp;&nbsp;　产品过硬</h4>
    <p>整合精选央企、国企、行业龙头企业优质融资项目资源。</p>
</div>
<div class="security-list color4">
    <img src="/static/ywf/img/icon/securitylist4.png" alt="">
    <h4>保障三 &nbsp;&nbsp; 严控风险</h4>
    <h3>依法合规，杜绝资金池、虚假标的、自融自保，信息透明。</h3>
    <p>建立“336”项目投融资和产品筛选与风控体系，全程把控项目和产品实质性风险</p>
</div>

<!--回到顶部开始-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>

{$wrapper_suffix_front|default}