{$wrapper_prefix_front|default}

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/gotop.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/rightnow_buy.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/tableft.js"></script>

<div class="buy_content remaining_buy">
    <div class="box_content">
        <div class="buy_first">
            <div class="buy_first_l">
                <h2>周大福54号
                    <a href="">
                        （订单号：<strong>2106487841574844</strong>）
                    </a>
                    <span>100,000元</span>
                </h2>
                <p>
                    <span>年化收益：</span>
                    <em>6%</em>
                </p>
                <p>
                    <span>兑付日期：</span>
                    <em>2016-08-15</em>
                </p>
            </div>
            
            <div class="buy_first_r">
                <p class="mt">支付遇到任何问题，请致电</p>
                <p>400-1369-998</p>
            </div>	  	 
        </div>
        <div class="buy_icon"> 	  	  	  
        </div>
        <div class="buy_inputs">  	
        </div>
        <div class="top" >   	  	 
            <div class="two_recharge buy_two_recharge " >            
                <div class="pay">
                    <label>支付方式：</label>
                    <span class="cur">
                        <img src="/static/ywf/img/pic/pay3.png" alt=""/>
                        <i></i>
                    </span>
                    <span>
                        <img src="/static/ywf/img/pic/pay2.png" alt="" onclick="location = 'p1-3-1立即购买.html'"/>
                    </span>
                </div>
                <div class="money_input">
                    <label>可用余额：</label>
                    <div class="yu">
                        <span>1200元</span>
                        <em>余额不足</em>
                        <a href="">充值</a>
                    </div>
                </div>
                <div class="money_input">
                    <label style="float: left;margin-top: 10px;margin-left: -15px;">使用优惠券：</label>
                    <div class="out-discount">
                        <span  id="discount" >2张优惠券未使用</span>
                        <i></i>
                        <ul class="discount">
                            <li>
                                <input type="radio">
                                <span>代金券<b>50元</b></span>
                                <span>其投金额10000元</span>
                            </li>
                            <li>
                                <input type="radio">
                                <span>代金券<b>1.5%</b></span>
                                <span>其投金额不限</span>
                            </li>
                            <li>
                                <input type="radio">
                                <span>代金券<b>1.5%</b></span>
                                <span>其投金额不限</span>
                            </li>
                            <li>
                                <input type="radio">
                                <span>代金券<b>1.5%</b></span>
                                <span>其投金额不限</span>
                            </li>
                        </ul>
                    </div>	
                </div>
            </div>
            <div class="two_recharge buy_two_recharge" style="border: 0;">  		            
                <div class="money_input">
                    <label>支付金额：</label>
                    <span><em style="color:#ff7003;font-size: 18px;">1,800 </em>元</span>
                </div>	
                <div class="money_input">
                    <label>交易密码：</label>
                    <input type="text" vlaue="" placeholder="请输入交易密码"/>
                </div> 
                <div class="val_group">	
                    <p class="fgtpwd"><a href="" style="color:#2197d7;font-size:14px;margin-left:298px;">忘记密码?</a></p>					
                </div>                                     
                <button class="cz_btn cz_btn1">确认支付</button>   
                <div class="text ytext1">
                    <b class="choose"></b>
                    <em>已阅读并同意<a href="#">《借款协议》</a>充分了解相关权利和义务，并愿意承担相关风险</em>
                </div>   
            </div>
        </div>
    </div>
</div>

<!-- 尾部结构结束  -->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>

{$wrapper_suffix_front|default}