<!-- 尾部页面开始 -->
<div class="foot_login">
    <div class="w1200">
        <div class="link">
            <a href="" target="_blank">关于亿万福</a>丨
            <a href="" target="_blank">安全保障</a>丨
            <a href="" target="_blank">帮助中心</a>丨
            <a href="" target="_blank">常见问题</a>丨
            <a href="" target="_blank">联系我们</a>
        </div>
        <div class="bottom">
            <p>© 2015-2016 亿万福 | 沪ICP备14036998号-2 | 中金国泰财富管理有限公司</p>
        </div>
    </div>
</div>
<!-- 尾部页面结束 -->
</body>
</html>