{$wrapper_prefix_center|default}

<!--中间：内容-->
<div class="container_content" >
    <!--我的账户-->
    <div class="top" style="min-height:664px">
        <div class="one">
            <div class="blue-line"></div>
            <span class="title">提示</span>
        </div>
        <div class="two_tip">
            <div class="img_tip"></div>
            <p>提现成功!</p>
            <p>
                <a href="/cas/user/index">返回个人中心</a>
            </p>
        </div>
    </div>
</div>
</div>

{$wrapper_suffix_center|default}