{$wrapper_prefix_center|default}


<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/tab.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/go_top.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/alert.js"></script>
<!-- 弹框 js-->
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/webjs/cas/myAlert.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/scripts/upload/uploadPreview.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/webjs/cas/uppic.js"></script>

<script>$("head>title").html("经纪人认证");</script>
<!--中间：内容-->
 <form id="edit_form" action="/cas/ecoman/addpic" method="post" enctype="multipart/form-data">
<div class="container_content">
    <!--我的账户-->
    <div class="top">
        <div class="one">
            <div class="blue-line"></div>
            <h2>经纪人认证</h2>
        </div>
    </div>
    <div class="bottom">
       <!-- <div class="pic">
            <img src="/static/ywf/img/icon/jiaru.png" />
        </div>  -->
           <ul id="warp">
			  <li>
			   <div class="pic">
			   {if $is_invitaiton==2}
			   <p class="l-sh">审核中</p>
			   {elseif $is_invitaiton==3}
			   <p class="l-sh">审核失败，请重新上传</p>
			   <p class='l-sh-1'>{if $remarks}审核失败原因:{$remarks}{/if}</p>
			   {/if}
			   		{if $avatar}
            		<img id="imgShow_WU_FILE_0" src="{$avatar}" width="100" height="100"/>
            		{else}
            		<img id="imgShow_WU_FILE_0" src="/static/ywf/img/icon/jiaru.png" width="100" height="100" />
            		{/if}
        		</div> 
			  	{if $is_invitaiton==1}	
			  	<p class="browse"><input type="file" name="avatar" value="" id="up_img_WU_FILE_0" style="opacity: 0;cursor: pointer;">浏览</p>
			  	{elseif $is_invitaiton==2}
			  	{elseif $is_invitaiton==3}
			  	<p class="browse"><input type="file" name="avatar" value="" id="up_img_WU_FILE_0" style="opacity: 0;cursor: pointer;">浏览</p>
			  	 {elseif $is_invitaiton==4}
			  	 <p>审核未通过</p>
			  	{/if}
			  	
			  </li>
		  </ul>
                   
        <p class="tiaokuan">
            <i class="choose" id="choose"></i>
            <span>已阅读并同意<a target="_blank" href="/cas/ecoman/ecoman">《经纪人条款》</a></span>
        </p>
        {if $is_invitaiton==1}	
        <p class="uploading"><a href="javascript:;" id="qrsc">确认上传</a></p>
        {elseif $is_invitaiton==2}
        {elseif $is_invitaiton==3}
        <p class="uploading"><a href="javascript:;" id="qrsc">确认上传</a></p>
        {elseif $is_invitaiton==4}
        {/if}
        <div class="prompt">
            <span>温馨提示</span>
            <ul>
                <li>1、注册手机号与名片号码保持一致；</li>
                <li>2、名片为实物名片拍摄，不接受图片名片及修改过内容的名片</li>
                <li>3、名片限金融从业人员，销售人员所属名片。</li>
            </ul>
        </div>
    </div>  
</div>
</form>
</div>
<!--回到顶部开始-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>
<!--回到顶部结束-->

{$wrapper_suffix_center|default}