{$wrapper_prefix|default}

<script>$("head>title").html("找回成功");</script>
<div class="login_content reminder">
    <div class="register">
        <div class="reg_right">
            <div class="sucess">
                <h2></h2>
                <span>密码设置成功！</span>
                <p>您的密码已经成功设置，<strong id="timer"></strong> 秒后会跳转到首页。</p>
                <a href="/index/index">立即跳转</a>
            </div>	         	  
        </div>
        <div class="reg_left"></div>
    </div>   	
</div>

{literal}
<script>
    $(document).ready(function () {
        var nums = 4;
        var numnow;
        $("#timer").html(4);
        var ss = setInterval(function () {
            nums--;
            numnow = nums;
            $("#timer").html(numnow);
            if (nums == 0) {
                clearInterval(ss);
                window.location.href='/index/index';
            }
        }, 1000)
    });
</script>
{/literal}
{$wrapper_suffix|default}