{$wrapper_prefix_center|default}
<script src="{$_STATIC_URL}/ywf/webjs/cas/setting.tradepwd.js" type="text/javascript"></script>

<script>$("head>title").html("设置交易密码");</script>
<!--中间：内容-->
<div class="container_content" >
    <!--我的账户-->
    <div class="top" style="min-height:630px">
        <div class="one">
            <div class="blue-line"></div>
            <span class="title">设置交易密码</span>
        </div>

        <div style="margin-top: 8px;">交易密码用于保障您的账户安全</div>
        <div class="two_xgdlmm">
            <div class="" id="div1">
                <label>交易密码：</label>
                <input type="password" name="pay_pwd" value="" placeholder="6位数字" minlength="6" maxlength="6" id="input1"/>
            </div>
            <div class="">
                <label>确认密码：</label>
                <input type="password" name="repeatpay_pwd" value="" placeholder="请再次输入密码" minlength="6" maxlength="6" id="input2"/>
            </div>
            <div class="btn">
                <button id="form-submit">确认</button>
            </div>
        </div>
    </div>
</div>
</div>

{$wrapper_suffix_center|default}