{$wrapper_prefix_center|default}

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/tab.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/go_top.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/alert.js"></script>

<script src="{$_STATIC_CDN}/ywf/webjs/cas/setting.index.js"></script>

<script>$("head>title").html("设置");</script>
<!--中间：内容-->
<div class="container_content">
    <!--我的账户-->
    <div class="top" style="height: 160px;">
        <div class="one">
            <div class="blue-line"></div>
            <span class="title">个人信息</span>
        </div>
        <div class="two_grxx">
            <i></i>
            <span>{$loggedInUser['phone']}，帐户安全级别：</span>
            <span class="progress"></span>
            <span class="progress_value">100%</span>
            <p>投资需要完成第<span>4、5、6</span>项</p>
        </div>
    </div>
    <!--资金流水-->
    <div class="low">
        <div class="one">
            <div class="blue-line"></div>
            <span class="title">账户安全</span>
        </div>
        <div class="two_zhaq">
            <ul>
                <li>
                    <div class="left">
                        <i id="icon1"></i>
                        <span>1.绑定手机</span>
                        <p>手机号码是您在亿万福重要的身份凭证</p>
                    </div>
                    <div class="right">
                        <span>{$userInfo['phone']}</span>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <i id="icon2"></i>
                        <span>2.登录密码</span>
                        <p>登录亿万福的账号密码</p>
                    </div>
                    <div class="right"> 
                        <button onclick="location.href = '/cas/resetpassword/index'">修改</button>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <i id="icon3"></i>
                        <span>3.交易密码</span>
                        <p>交易密码是进行交易使用的秘密</p>
                    </div>
                    <div class="right"> 
                        {if {$userInfo['is_pay_pwd']}==1}    
                        <button onclick="location.href = '/cas/resetpassword/resetPaypwd'">修改</button>
                        <button onclick="location.href = '/cas/resetpassword/forgotPaypwd'">重置</button>
                        {else}
                        <button onclick="location.href = '/cas/setting/tradePwd'">设置</button>
                        {/if}
                    </div>
                </li>
                <li>
                    <div class="left">
                        <i id="icon4"></i>
                        <span>4.邮寄地址</span>
                        <p>邮寄地址接收亿万福纸质资料使用</p>
                    </div>
                    <div class="right"> 
                        <span>（{if {$userInfo['address']}}{$userInfo['address']}{else}未设置{/if}）</span>
                        <button onclick="location.href = '/cas/setting/contact'">设置</button>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <i id="icon5"></i>
                        <span>5.实名认证</span>
                        <p>保障帐户安全，身份确认后，不能更换</p>
                    </div>
                    <div class="right">
                        <span>（{if {$userInfo['idcard']}}{$userInfo['idcard']}{else}未认证{/if}）</span>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <i id="icon6"></i>
                        <span>6.绑定银行卡</span>
                        <p>提现仅可至您所绑定银行卡中</p>
                    </div>
                    <div class="right"> 
                        <span>（{if {$userInfo['bank_no']}}{$userInfo['bank_no']}{else}未绑卡{/if}）</span>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <i id="icon7"></i>
                        <span>7.推荐人</span>
                        <p>推荐您使用亿万福的经纪人</p>
                    </div>
                    <div class="right"> 
                        <span>{if {$userInfo['recommender']}}{$userInfo['recommender']}{else}{/if}</span>
                        <button onclick="location.href = '/cas/setting/recommender'">修改</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<!--回到顶部开始-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>
<!--回到顶部结束-->

{$wrapper_suffix_center|default}