{$wrapper_prefix_center|default}

<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/tab.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/go_top.js"></script>
<script type="text/javascript" src="{$_STATIC_CDN}/ywf/js/alert.js"></script>

<!--引入二维码生成jquery qrcode-->
<script src="{$_STATIC_CDN}/scripts/qrcode/jquery.qrcode.min.js"></script>
<script src="{$_STATIC_CDN}/ywf/webjs/cas/setting.qrcode.js"></script>

<script>$("head>title").html("邀请好友");</script>
<!--中间：内容-->
<div class="container_content" >
    <!--我的账户-->
    <div class="top" style="min-height:472px">
        <div class="one">
            <div class="blue-line"></div>
            <span class="title">邀请好友加入</span>
        </div>
        <div class="two_inviteFriends">
            <div id="code" class="img_ewm"></div>
            <div class="text">
                <p>推荐须知：</p>
                <p>请扫描二维码注册下载亿万福APP邀请好友</p>
            </div>
        </div>
        <span style="color:#808080;margin-left:48px;display: inline-block;margin-top:26px;font-size:18px">你的推荐码:<span id="sp"></span></span>
    </div>
</div>
</div>
<!--回到顶部开始-->
<div class="sidebar_nav">
    <a href="" class="gotop"><span>回顶部</span></a>
    <a href="" class="kefu"><span>客服</span></a>
    <a href="" class="app"><span>手机APP</span></a>
</div>
<!--回到顶部结束-->

{$wrapper_suffix_center|default}